<html>
	<head>
		<title>teste</title>
		<style type="text/css">
			.pago{
				color: green;
			}
			.naoPago{
				color: red;
			}
			.nenhumaConta{
				color: gray;
			}
		</style>
	</head>
	<body>
		<div id="app">
			<h1>{{ title }}</h1>
			<h3 :class="{ 'naoPago': countBills>0, 'pago': countBills==0, 'nenhumaConta': countBills<0 }">{{ countBills | countToString }}</h3>
			<nav>
				<ul>
					<li v-for="menu in menus">
						<a href="#" @click.prevent="showView(menu.id)">{{ menu.name }}</a>
					</li>
				</ul>
			</nav>
			<div v-if="activedView == 0">
				<table border="1" cellpadding="10">
					<thead>
						<tr>
							<th>#</th>
							<th>Vencimento</th>
							<th>Nome</th>
							<th>Valor</th>
							<th>Status</th>
							<th>Ações</th>
						</tr>
					</thead>
					<tbody>
						<tr v-for="(bill,index) in bills">
							<td>{{ index+1 }}</td>
							<td>{{ bill.date_due | dateBr}}</td>
							<td>{{ bill.name }}</td>
							<td>{{ bill.value | currency }}</td>
							<td :class="{ 'pago': bill.done, 'naoPago': !bill.done }">
								{{ bill.done | status }}
							</td>
							<td>
								<a href="#" @click.prevent="loadBill(bill)">Editar</a> |
								<a href="#" @click.prevent="deleteBill(index)">Excluir</a> |
								<a href="#" v-if="!bill.done" @click.prevent="tooglePayBill(bill)">Paga</a>
								<a href="#" v-if="bill.done" @click.prevent="tooglePayBill(bill)">Não Paga</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div v-if="activedView == 1">
				<form action="" name="formConta">
					<label>Vencimento:</label>
					<input type="date" v-model="bill.date_due"><br>
					<label>Nome:</label>
					<select v-model="bill.name">
						<option v-for="opt in names" :value="opt">{{ opt }}</option>
					</select><br>
					<label>Valor:</label>
					<input type="text" v-model="bill.value"><br>
					<input type="submit" @click.prevent="submit">
				</form>
			</div>
		</div>
		<script type="text/javascript" src="node_modules/vue/dist/vue.min.js"></script>
		<script type="text/javascript" src="app.js"></script>
	</body>
</html>
